input{
  width: 50px;
  height: 25px;
  border: 0;
  border-bottom: 1px gray dashed
}
#result{
  border: 1px gray dashed;
  margin: 10px;
}
#app{
  font-weight: bold;
  font-size: 1.4em;
  margin: 10%;
  text-align: center;
  border: 5px black dashed;
  padding: 5%;
  background-color:rgba(26, 226, 226, 0.404);
}
body{
  background-color:rgb(5, 136, 92);
  font-family: 'Courier New', Courier, monospace;
}
button{
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 2%;
}