#container {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 20px auto;
}
.cell {
  height: 100px;
  width: 100px;
  margin: 0;
  background-color: aliceblue;
  text-align: center;
   font-size: 400%;
   cursor: pointer;
   user-select: none;
}
