#container-game {
	height: 300px;
	width: 300px;
	border: 1px solid black;
	margin: auto;
}
.cell {
	height: 95px;
	width: 95px;
	margin: 0;
	background-color: orange;
	text-align: center;
	font-size: 5em;
	cursor: pointer;
	user-select: none;
	color: black;
}
.cell:hover {
	opacity: 0.9;
}
#msg {
	text-align: center;
	color: white;
	font-size: 1.5em;
}
