#game {
    width: 80%px;
    height: 500px;
    max-width: 800px;
    border: 1px white solid;
    position: relative;
    overflow: hidden;
    margin: auto;
}

#mask{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-transform: uppercase ;
    background-color: white;
    cursor: pointer;
    opacity: .8;
    font-size: 2em;
    font-weight: bolder;
    line-height: 200%;
    padding: 25% 0;
}

#bird {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 100px;
    left: 100px;
    color: white;
}

#scoreDiv{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 3em;
    font-weight: bolder;
    color: orange;
    text-align: center;
}

.pipe{
    width : 52px;
    background-color:  white;
    position : absolute;
    top : 0;
}
.pipe-top{
    border-radius: 0 0 5px 5px;
}
.pipe-bottom{
    border-radius: 5px 5px 0 0;
}



/* hr {
    width: 50px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.7);
    border-right-width: 50px;
    position: absolute;
    bottom: 100%;
    transform-origin: 100% 50%;
    animation-name: rain;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

@keyframes rain {
    from {
      transform: rotate(105deg) translateX(0);
    } 
    to {
      transform: rotate(105deg) translateX(calc(100vh + 20px));
    }
  } */