@{
    ViewData["Title"] = "Home Page";
}
        <pre>
            &lt;html>
            &lt;head>
                &lt;title>First HTML Page&lt;/title>
            &lt;/head>
            &lt;body>
                &lt;h1><span>اول صفحة ويب</span>&lt;/h1>
                &lt;p>هذه أول فقرة ننشؤها في أول صفحة&lt;/p>
            &lt;/body>
            &lt;/html>

         </pre>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
