html,
body {
  margin: 0;
  font-family: monospace;
}
header {
  position: relative;
  min-height: 35vh;
  background-color: orange;
}
header div {
  font-size: 5vh;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
main {
  position: relative;
  min-height: 65vh;
  background-color: black;
}
#msgElement {
  margin: 2vh;
  font-size: 2em;
  font-weight: bold;
}
#container {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 75%;
  transform: translate(-50%, -50%);
  padding: 2%;
  background-color: white;
  color: black;
  font-size: 1.5em;
  text-align: center;
}
#container input,
button {
  font-size: 1.3em;
  text-align: center;
  font-weight: bolder;
  padding: 3% 10%;
  max-width: 75%;
  margin: 2vh;
}
