*{
    user-select: none;
}
#board {
    margin: auto;
    font-size: 32pt;
    font-weight: bold;
    color: white;
    display: inline;
}

#gameSpace {
    position: relative;
    width: 80vw;
    height: 40vw;
    max-width: 600px;
    max-height: 300px;
    background-color: black;
    border: solid rgb(83, 77, 77) 3px;
    margin: 5px auto;
}

#ball {
    width: 2vw;
    height: 2vw;
    max-width: 15px;
    max-height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 12.5px;
    box-shadow: 0 0 50px white;
}

.racket {
    width: 1vw;
    height: 12vw;
    max-width: 10px;
    max-height: 120px;
    position: absolute;
    border: solid black 1px;
    background-color: orange;
    box-shadow: 0 0 50px white;
}

#rightRacket {
    right: 0;
}