#container-game {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-rows: 150px 150px;
	grid-template-columns: 150px 150px;
	gap: 1px;
}
#red {
	background-color: red;
}
#orange {
	background-color: orange;
}
#green {
	background-color: green;
}
#blue {
	background-color: blue;
}
.cell {
	opacity: 0.4;
}
.hover {
	opacity: 0.6;
}
.active {
	opacity: 1;
}
.no-cursor {
	cursor: none;
}
.hide {
	display: none;
}
@media (max-width: 760px) {
	main {
		min-height: 65vh !important;
	}
}
